
body{
     
	 
      background-image: linear-gradient(to top, red,blue,green,indigo,red,yellow,violet);
      margin-top:230px;
	  margin-left:550px;
	 
	 

}
	


.btn{
	width:250px;
	height:25vh;
	background:green;
	font-family:times new romman;
	font-size:22px;
	font-style:BOLD;
	border-radius:25px;
	box-shadow:20px 20px 10px ;
}
